src/flows.json
[{"id":"15ccbe67.400542","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5d2e979b.d52f5","type":"inject","z":"15ccbe67.400542","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":200,"wires":[["d9cba2ae.af1468","6a8c4d85.76a45c"]]},{"id":"d9cba2ae.af1468","type":"debug","z":"15ccbe67.400542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":140,"wires":[]},{"id":"6a8c4d85.76a45c","type":"debug","z":"15ccbe67.400542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":360,"wires":[]}]