src/flows.json
[{"id":"b34bae19.14a5d","type":"tab","label":"Broker","disabled":false,"info":""},{"id":"15ccbe67.400542","type":"tab","label":"Unlock flow","disabled":true,"info":""},{"id":"a6144cd7.245b5","type":"tab","label":"Database","disabled":true,"info":""},{"id":"c340aff3.7dec58","type":"mqtt-broker","z":"","name":"Mosca","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8c9625e.670fc","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"m24.cloudmqtt.com","port":"15946","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"638c2b11.43050c","type":"websocket in","z":"15ccbe67.400542","name":"App input","server":"","client":"","x":110,"y":350,"wires":[["1af49277.70e7c6"]]},{"id":"b4778f4d.b291a","type":"function","z":"15ccbe67.400542","name":"Authentication","func":"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["b5b5793e.d6e178"]]},{"id":"b5b5793e.d6e178","type":"function","z":"15ccbe67.400542","name":"Convert payload","func":"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":650,"wires":[["827e682c.8a4fb"]]},{"id":"827e682c.8a4fb","type":"websocket out","z":"15ccbe67.400542","name":"Response on app","server":"","client":"","x":990,"y":700,"wires":[]},{"id":"8441e1af.0dd84","type":"comment","z":"15ccbe67.400542","name":"Check if IDs match in DB","info":"","x":910,"y":250,"wires":[]},{"id":"65801f82.c47d5","type":"comment","z":"15ccbe67.400542","name":"compress payload","info":"","x":690,"y":700,"wires":[]},{"id":"baaf9b8.7294768","type":"comment","z":"15ccbe67.400542","name":"Send unlock to device","info":"","x":1000,"y":550,"wires":[]},{"id":"51686373.0d1e44","type":"comment","z":"15ccbe67.400542","name":"Send response to app","info":"","x":1000,"y":750,"wires":[]},{"id":"2c2e8248.aa96ae","type":"websocket in","z":"a6144cd7.245b5","name":"New user","server":"","client":"","x":110,"y":250,"wires":[[]]},{"id":"3420a145.4e60be","type":"function","z":"a6144cd7.245b5","name":"Format ID","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":250,"wires":[["3c8de1b2.652906"]]},{"id":"3c8de1b2.652906","type":"file","z":"a6144cd7.245b5","name":"","filename":"Save to DB","appendNewline":true,"createDir":false,"overwriteFile":"false","x":530,"y":250,"wires":[["844d6e33.75fe18"]]},{"id":"844d6e33.75fe18","type":"function","z":"a6144cd7.245b5","name":"Format response","func":"\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":250,"wires":[["3f347d86.85d2e2"]]},{"id":"3f347d86.85d2e2","type":"websocket out","z":"a6144cd7.245b5","name":"Response app","server":"","client":"","x":1030,"y":250,"wires":[]},{"id":"ed04eb8c.94e698","type":"file in","z":"15ccbe67.400542","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":650,"y":300,"wires":[["b4778f4d.b291a"]]},{"id":"1af49277.70e7c6","type":"function","z":"15ccbe67.400542","name":"Format input","func":"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["ed04eb8c.94e698"]]},{"id":"6a92177c.a20d5","type":"comment","z":"15ccbe67.400542","name":"Read DB","info":"","x":660,"y":250,"wires":[]},{"id":"9e7b3ced.243e9","type":"debug","z":"b34bae19.14a5d","name":"","active":true,"console":"false","complete":"false","x":470,"y":150,"wires":[]},{"id":"7f6d9692.bde57","type":"mqtt in","z":"b34bae19.14a5d","name":"","topic":"smartlock/test","qos":"0","broker":"c8c9625e.670fc","x":220,"y":150,"wires":[["9e7b3ced.243e9"]]},{"id":"41043250.299974","type":"inject","z":"b34bae19.14a5d","name":"send message","topic":"sensors/moscatest","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":250,"wires":[["2cea6218.a2ff1e"]]},{"id":"2cea6218.a2ff1e","type":"mqtt out","z":"b34bae19.14a5d","name":"","topic":"smartlock/test","qos":"","retain":"","broker":"c8c9625e.670fc","x":480,"y":250,"wires":[]}]