src/flows.json
[{"id":"b34bae19.14a5d","type":"tab","label":"Broker","disabled":false,"info":""},{"id":"15ccbe67.400542","type":"tab","label":"Unlock flow","disabled":true,"info":""},{"id":"a6144cd7.245b5","type":"tab","label":"Database","disabled":true,"info":""},{"id":"9f7cfcbd.cfc7b8","type":"tab","label":"Broker","disabled":true,"info":""},{"id":"c340aff3.7dec58","type":"mqtt-broker","z":"","name":"Mosca","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8c9625e.670fc","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"m24.cloudmqtt.com","port":"15946","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"638c2b11.43050c","type":"websocket in","z":"15ccbe67.400542","name":"App input","server":"","client":"","x":110,"y":350,"wires":[["1af49277.70e7c6"]]},{"id":"b4778f4d.b291a","type":"function","z":"15ccbe67.400542","name":"Authentication","func":"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["b5b5793e.d6e178"]]},{"id":"b5b5793e.d6e178","type":"function","z":"15ccbe67.400542","name":"Convert payload","func":"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":650,"wires":[["827e682c.8a4fb"]]},{"id":"827e682c.8a4fb","type":"websocket out","z":"15ccbe67.400542","name":"Response on app","server":"","client":"","x":990,"y":700,"wires":[]},{"id":"8441e1af.0dd84","type":"comment","z":"15ccbe67.400542","name":"Check if IDs match in DB","info":"","x":910,"y":250,"wires":[]},{"id":"65801f82.c47d5","type":"comment","z":"15ccbe67.400542","name":"compress payload","info":"","x":690,"y":700,"wires":[]},{"id":"baaf9b8.7294768","type":"comment","z":"15ccbe67.400542","name":"Send unlock to device","info":"","x":1000,"y":550,"wires":[]},{"id":"51686373.0d1e44","type":"comment","z":"15ccbe67.400542","name":"Send response to app","info":"","x":1000,"y":750,"wires":[]},{"id":"2c2e8248.aa96ae","type":"websocket in","z":"a6144cd7.245b5","name":"New user","server":"","client":"","x":110,"y":250,"wires":[[]]},{"id":"3420a145.4e60be","type":"function","z":"a6144cd7.245b5","name":"Format ID","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":250,"wires":[["3c8de1b2.652906"]]},{"id":"3c8de1b2.652906","type":"file","z":"a6144cd7.245b5","name":"","filename":"Save to DB","appendNewline":true,"createDir":false,"overwriteFile":"false","x":530,"y":250,"wires":[["844d6e33.75fe18"]]},{"id":"844d6e33.75fe18","type":"function","z":"a6144cd7.245b5","name":"Format response","func":"\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":250,"wires":[["3f347d86.85d2e2"]]},{"id":"3f347d86.85d2e2","type":"websocket out","z":"a6144cd7.245b5","name":"Response app","server":"","client":"","x":1030,"y":250,"wires":[]},{"id":"ed04eb8c.94e698","type":"file in","z":"15ccbe67.400542","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":650,"y":300,"wires":[["b4778f4d.b291a"]]},{"id":"1af49277.70e7c6","type":"function","z":"15ccbe67.400542","name":"Format input","func":"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["ed04eb8c.94e698"]]},{"id":"6a92177c.a20d5","type":"comment","z":"15ccbe67.400542","name":"Read DB","info":"","x":660,"y":250,"wires":[]},{"id":"9e7b3ced.243e9","type":"debug","z":"b34bae19.14a5d","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"7f6d9692.bde57","type":"mqtt in","z":"b34bae19.14a5d","name":"","topic":"smartlock/test","qos":"0","broker":"c8c9625e.670fc","x":130,"y":40,"wires":[["db85c3e3.dd5808"]]},{"id":"db85c3e3.dd5808","type":"json","z":"b34bae19.14a5d","name":"","property":"payload","action":"","pretty":false,"x":330,"y":40,"wires":[["48b56bb6.94cd44"]]},{"id":"48b56bb6.94cd44","type":"function","z":"b34bae19.14a5d","name":"Rx Data extract","func":"if (msg.payload.cmd == \"rx\") {\n    msg.payload = msg.payload.data;\n} else {\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["237ab9a7.8ff2de"]]},{"id":"7f0bd48e.b0ed64","type":"http in","z":"15ccbe67.400542","name":"","url":"/key","method":"get","upload":false,"swaggerDoc":"","x":160,"y":80,"wires":[["5b9dc953.7c3a3"]]},{"id":"72c1d804.32fd2","type":"http response","z":"15ccbe67.400542","name":"Key response","statusCode":"200","headers":{},"x":580,"y":80,"wires":[]},{"id":"5b9dc953.7c3a3","type":"template","z":"15ccbe67.400542","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"key\" : \"lyngby\"}","output":"str","x":360,"y":80,"wires":[["72c1d804.32fd2"]]},{"id":"b76a4d85.2c6538","type":"debug","z":"9f7cfcbd.cfc7b8","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":590,"y":140,"wires":[]},{"id":"27b0a660.e32e4a","type":"mqtt in","z":"9f7cfcbd.cfc7b8","name":"","topic":"smartlock/test","qos":"0","broker":"c8c9625e.670fc","x":90,"y":140,"wires":[["4df06e7b.ad6d1"]]},{"id":"4df06e7b.ad6d1","type":"json","z":"9f7cfcbd.cfc7b8","name":"","property":"payload","action":"","pretty":false,"x":250,"y":140,"wires":[["d6577ccd.111f5"]]},{"id":"d6577ccd.111f5","type":"function","z":"9f7cfcbd.cfc7b8","name":"","func":"function hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\n\nif (msg.payload.cmd == \"gw\") {\n    return;\n} else {\n    msg.payload = hex2a(msg.payload.data);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[[]]},{"id":"3abdcc00.dc5e34","type":"http in","z":"9f7cfcbd.cfc7b8","name":"","url":"/key","method":"get","upload":false,"swaggerDoc":"","x":100,"y":260,"wires":[["a1fd6f13.03d778"]]},{"id":"dd1d25e7.b6965","type":"http response","z":"9f7cfcbd.cfc7b8","name":"Key response","statusCode":"200","headers":{},"x":520,"y":260,"wires":[]},{"id":"a1fd6f13.03d778","type":"template","z":"9f7cfcbd.cfc7b8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"key\" : \"lyngby\"}","output":"str","x":300,"y":260,"wires":[["dd1d25e7.b6965"]]},{"id":"237ab9a7.8ff2de","type":"function","z":"b34bae19.14a5d","name":"Hex 2 string","func":"function hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\n\nmsg.payload = hex2a(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["9e7b3ced.243e9"]]},{"id":"7dd999e9.2a178","type":"mqtt in","z":"b34bae19.14a5d","name":"","topic":"smartlock/pass","qos":"0","broker":"c8c9625e.670fc","x":140,"y":240,"wires":[["6a623610.5bb55"]]},{"id":"6a623610.5bb55","type":"function","z":"b34bae19.14a5d","name":"store password","func":"global.set('pass', msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[[]]},{"id":"59fb7da.664d804","type":"inject","z":"b34bae19.14a5d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["9ac311a3.2888c"]]},{"id":"9ac311a3.2888c","type":"function","z":"b34bae19.14a5d","name":"output pass","func":"msg.payload = global.get('pass');\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[[]]}]